
<ion-header>
    <ion-navbar>
      <ion-title>私信</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content class="chats">
  
    <!-- 显示今天的消息 -->
    <ion-list>
      <ion-list-header>今天</ion-list-header>
      <!-- 点击的时候跳转界面 -->
      <ion-item *ngFor="let chat of chats" (click)="goMessage(chat)">
        <ion-avatar item-start>
          <img [src]="chat.imageUrl">
        </ion-avatar>
        <h2>{{chat.title}}</h2>
        <p>{{chat.lastMessage}}</p>
        <ion-note item-end>{{chat.timestamp | date:'HH:mm:ss'| lowercase}}</ion-note>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-list-header>昨天</ion-list-header>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/material/tx2.jpg">
        </ion-avatar>
        <h2>大哥</h2>
        <p>拉萨挺不错的。。。。</p>
        <ion-note item-end>11:11</ion-note>
      </ion-item>
  
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/material/tx2.jpg">
        </ion-avatar>
        <h2>人事主管</h2>
        <p>这次给你涨工资了。你查看下工资白条</p>
        <ion-note item-end>11:11</ion-note>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-list-header>前天</ion-list-header>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/material/tx2.jpg">
        </ion-avatar>
        <h2>祥</h2>
        <p>下次我请客吃饭。。。。</p>
        <ion-note item-end>11:11</ion-note>
      </ion-item>
  
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/material/tx2.jpg">
        </ion-avatar>
        <h2>涛</h2>
        <p>什么时候回武汉？</p>
        <ion-note item-end>11:11</ion-note>
      </ion-item>
    </ion-list>
  
  </ion-content>

































    
   
  <!-- <div class="chat-wrapper"> -->
    <!-- 判断消息是发送 -->
    <!-- <div >
      <img  class="profile-pic left" src="assets/imgs/material/tx2.jpg"  />
   
      <div class="chat-bubble left slide-left">
        <div class="chat"autolinker> </div>
        <div class="chat-detail">
          <span class="bold">大哥wduiewgdhuiewfdcyhewiucfvhiuoewrfio8yherwoifhiuedryhfviuewry</span>
          <span></span>
        </div>
      </div> 
    </div> -->

    

    <!-- 判断消息是发送 -->
   <!-- <div >
      <img  class="profile-pic right" src="assets/imgs/material/tx.jpg"/>
      <div class="chat-bubble right slide-right">
        <div class="chat" autolinker></div>
        <div class="chat-detail">
          <span class="bold">大哥vmlrjegvljhbr;eoithgvouerhgvf89uoirehuiohbfdsiuvgbiurd </span>
          <span></span>
        </div>
      </div>
    </div>
    <div class="cf"></div>
  </div>  -->


  <!-- 分割线 用数据循环出聊天记录 -->
  <!-- <div *ngFor="let message of messages" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">
    <!-- 判断消息是发送 -->
    <!-- <div *ngIf="user._id !== message.userId">
      <img (click)="viewProfile(message)" class="profile-pic left" [src]="toUser.pic" onerror="onProfilePicError(this)" />

      <div class="chat-bubble left slide-left">
        <div class="message" [innerHTML]="message.text" autolinker> </div>
        <div class="message-detail">
          <span (click)="viewProfile(message)" class="bold">{{toUser.username}}</span>,
          <span>{{message.date | moment:"ago" | lowercase}}</span>
        </div>
      </div>
    </div> -->

    <!-- 判断消息是发送 -->
    <!-- <div *ngIf="user._id === message.userId">
      <img (click)="viewProfile(message)" class="profile-pic right" [src]="user.pic" onerror="onProfilePicError(this)" />
      <div class="chat-bubble right slide-right">
        <div class="message" [innerHTML]="message.text" autolinker></div>
        <div class="message-detail">
          <span (click)="viewProfile(message)" class="bold">{{user.username}}</span>,
          <span>{{message.date | moment:"ago" | lowercase}}</span>
        </div>
      </div>
    </div>
    <div class="cf"></div>
  </div> --> 
<!-- 
</ion-content> -->







<!-- 底部固定的输入框 -->
<!-- <ion-footer>
  <form  novalidate>
    <ion-item>
      <ion-input ></ion-input>
      <button ion-button clear  item-end><ion-icon class="footer-btn" name="send"></ion-icon></button>
    </ion-item>
  </form>
</ion-footer> -->

























