page-invited-info {
    .invited-info-scroll{
        box-sizing: border-box;
        i,em,span{
            font-style: normal;
        }
        
        .invited-info-card1{
            height: 160px;
            background: -webkit-linear-gradient(top, #38c4f2 0%,#4867f4 100%);
            .invited-info-tishi{
                height: 25px; 
                width: 100%;
                background: rgba(255, 180, 0, 0.5);
                padding: 0px 12px;
                margin-bottom: 8px;
                position: absolute;
                top:0px;
                p{
                    margin: 0px;
                    font-size: 1.2rem;
                    color:#fff;
                    line-height: 25px;
                }
              
    
            }
            ion-card-header{
                padding-top: 35px;
                
                img{
    
                    height: 70px;
                    width: 70px;
                    float: left;
                    border-radius:5PX; 
                }
                .invited-info-xinxi{
                    width: 70%;
                    float: left;
                    padding-left: 8px;
                    h4{
                        font-size: 1.5rem;
                        font-weight: bold;
                        color:#fff;
                        span{
                            margin-left: 6px;
                            width: 35px;
                            height:17px ;
                            font-size: 1.3rem;
                            font-weight: normal;
                            padding: 0px 5px;
                            border-radius: 5px;
                            ion-icon{
                                font-size: 1rem;
                            }
                        }
                    }
                    p{
                        padding-bottom: 5px;
                        color: #fff;
                        img{
                            // padding-top: 2px;
                            width: 20px;
                            height:17px;
                            margin-right: 6px;
                        }
                        em{
                            line-height: 20px;
                        }
                    }
                  
                }
                
            }
            ion-card-content{
              P{
                background: rgba(255, 255,255, 0.2);
                color:#fff; 
                font-size: 1.3rem;
                padding: 2px 8px;
                border-radius:5rem; 
                display: inline-block;
                ion-icon{
                    font-size: 1rem;
                }
              }

            }
        }
       
        .invited-info-card2{
            height: 180px;
            ion-card-header{
                padding: 20px 12px;
                h4{
                    color: #333;
                    font-size: 1.5rem;
                    font-weight: bold;
                  
                }
            }
            ion-card-content{
                // background: #4867f4;
                .invited-info-card2-div{
                    width: 70%;
                    float: left;
                    // background: red;
                    p{
                        line-height: 25px;
                        font-size: 1.3rem;
                    }
                }
                
              
                img{
                    height: 110px;
                    width: 80px;
                    float: right;
                    border-radius:3px; 
                }
            }
            
        }
        .invited-info-card3{
            height: 350px;
            ion-card-header{
                .invited-info-card3-div{
                    width: 230px;
                    height: 70px;
                    border-radius:3px;
                    border: 1px solid #e3e3e3; 

                    // text-align: center;
                    margin: 0 auto;
                    padding-left:25px;
                    padding-top: 8px;
                    line-height: 25px;
                    
                }
    
            }
            ion-card-content{
                text-align: center;
                img{
                    width: 180px;
                    height: 180px;
                    margin: 0 auto;
                }
                span{
                    color: #ff6666;
                    font-size: 1.2rem;
                    display: block;
                    margin: 16px 0px;
                    ion-icon{
                        font-size: 1rem;
                    }
                }
            }
            
        }
        .invited-info-card4{
            height: 180px;
            ion-card-header{
                border-bottom: 1px #e3e3e3 dashed;
                .invited-info-card4-div{
                    width: 60%;
                    float: left;
                    // background: red;
                    h4{
                        color: #333;
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: #333;
                    }
                    p{
                        color: #999;
                        font-size: 1.2rem;
                        color: #999;
                    }
                }
                img{
                    width: 40px;
                    height: 40px;
                    border-radius:50%; 
                    float: right;
                    margin-left:1.2rem ;
                }
                
            }
            ion-card-content{
                padding-top: 10px;
                position: relative;
                
                h4{
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: #333;
                }
                p{
                    font-size: 1.3rem;
                    color: #666;
                    line-height: 30px;
                }
                span{
                    position: absolute;
                    top:10px;
                    right:12px;
                    font-size: 1.5rem;
                    color: #ff6666;
                    font-weight: bold;
                }
            }
              
        }
        .invited-info-card5{
            height: 55px;
            
            ion-card-header{
                width:40% ;
                font-size: 1.5rem;
                color: #333;
                padding: 0px;
                padding-left: 16px;
                line-height: 55px;
                font-weight: bold;
                float: left;
            }
            ion-card-content{
                width:44% ;
                float: right;
                padding-top: 15px;
                text-align: right;
                padding: 0px;
                padding-right: 16px;
                  line-height: 55px;
                p{
                    ion-icon{
                        font-size: 1.2rem;
                        color: #999;
                    }
                }
            }
            
        }
        
        .invited-info-card6{
            margin-bottom: 40px;
            ion-card-content{
                h5{
                    font-size:1.5rem;
                    color: #666;
                    font-weight: bold;
                }
                P{
                    font-size:1.3rem;
                    color: #999;
                   
                }
            }
        }

    }
    .invited-info-button{
        text-align: right;
        button{
            width: 90px;
            height: 40px;

            background: #fff;
            border: solid #ccc 1px;
            border-radius:20px; 
            color: #333;

        }
   
    }
}
