page-filtrate {
    .filtrate-shadow{
        background: rgba(255,255,0,0.5);
        // opacity: 0.3;
        height: 100%;
        width: 100%;
        margin-bottom: 0px;
        right: 0px;
        margin-right: 0px;
        .filtrate-red {
            background: red;
            margin: 20px;
            opacity: 1;
        }
    
    }
    // ion-content{
    //     background: rgba(255,255,0,0.5);
    //     opacity: 0.3;
       
    // }
   
    

}
