// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@charset "UTF-8";
@import "../assets/fonts/iconfont.css";
//取消右侧滚动条
::-webkit-scrollbar {
  display: none !important;
}
//颜色

$colors:(
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222222,

  //app常用颜色
  fulan:#09B8F2,
  zhuxian:#eeeeee,
  zhulan: #1e44f4,
  zhubackground:#f2f2f2,
  zhuwen:#333333,
  fuwen:#666666
  

);

$background: -webkit-linear-gradient(left, #38c4f2 0%,#4867f4 100%);


//定位
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
//字体
/*********** 背景色 start **********/
/*.primary-bg {
  background-color: color($colors, zhubackground)!important;
  .toolbar {
    .toolbar-background {
      background-color: color($colors, zhubackground)!important;
    }
    .toolbar-title{
      color: color($colors, light)!important;
    }
  }
}*/
.content-ios  ,.content-md{
  background: #f2f2f2;
}
/*********** 背景色 end **********/
//阴影
.card-md,.card-ios,.shadow{
  -webkit-box-shadow: 0 2px 2px 0 rgba(204, 204, 204, 0.2), 0 3px 1px -2px rgba(204, 204, 204, 0.2), 0 1px 5px 0 rgba(204, 204, 204, 0.2);
  box-shadow: 0 2px 2px 0 rgba(204, 204, 204, 0.2), 0 3px 1px -2px rgba(204, 204, 204, 0.2), 0 1px 5px 0 rgba(204, 204, 204, 0.2);
}

//图标
.tabs-md .tab-button-icon{
  color: #ccc;
}

//banner图
.swiper-pagination-bullet{
  width: 8px;
  height: 2px;
  background:white ;
  opacity: 0.5;
  border-radius:0 ;
  box-shadow: 1px 1px 4px #cccccc !important;

}
.swiper-pagination-bullet-active{
  width: 8px;
  height: 8px;
  background: none;
  border: solid 1px white !important;
  border-radius:100% ;
  opacity: 1;
  //padding-bottom:5px!important;


}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default,
.bar-button-default-md, .bar-button-default.bar-button-md-default, .bar-button-clear-ios-default,{
  color: #fff;
}


.toolbar-title-md ,.toolbar-title-ios {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;


}
//可滚动区域
.page-scroll{
  position: absolute; 
  bottom:45px;
  height: 700px;
  width: 100%;

}

//导航栏高度
.header-ios ,.header-md{
  max-height: 64px;
  background:$background;
  border: none;
}

.nav-height{
  height: 66px;
}
.toolbar-background-md, .toolbar-background-ios{
  background:$background;
}
.toolbar-md {
  min-height: 44px;
}

.tabs-ios .tabbar,.tabs-md .tabbar {
  background-color: white;
}
.ion-segment-bule { //滑动板块-蓝色
  // padding-left: 70px;
  // padding-right:70px;
  height: 44px;

}

.ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment{
  padding-top: 0px;
  min-height: 44px;
  height: 44px;
  font-weight: bolder;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  border-width: 0px 0px 0px;
}


/*-----------------segment--------------------*/

.segment .segment-button  em,{
  color: white;
  font-size: 1.6rem;
  height: 3.8rem;
  font-style: normal;
}

.toolbar .segment-md .segment-button.activated em, .toolbar .segment-md .segment-button.segment-activated em{

  font-style:normal ;
  font-weight: bolder;
  border-bottom: solid 3px white ;
  padding-bottom: 5px;
}

.toolbar-ios,.toolbar-md{
  max-height: 44px;
  padding: 0px;
}

.ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title, .ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child ion-segment, .ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child ion-title, .ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment, .ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title, .ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child ion-segment{
  padding-top: 0px;
}
.ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child,
.ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child,
.ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child,
.ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child,
.ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child,
.ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child,
.ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child {
  //padding-top:20px;
}
.segment-md .segment-button{
  height: 3.7rem;
}
/*-------------------------------------*/

/*-------------------list-----------------*/
.list-ios > .item-block:last-child,
.list-ios > .item-wrapper:last-child .item-block {
  border-bottom: none;
}

.list-ios > .item-block:first-child {
  border-top: 0.55px solid #eeeeee;
  border-top-width: 0.55px;
  border-top-style: solid;
  border-top-color: rgb(238, 238, 238);
}
/*-----------------list结束----------------*/

// modal大小
ion-modal{
  height: 100%;
  width: 100%;
}


/*-----------------按钮中间的小竖线----------------*/
.button-xian{
      width: 1px;
      height: 17px;
      display: block;
      float: left;
      //left: 50%;
      top:2%;
      margin-top: 12px;
      background: #eeeeee;
      //background:#ff3333;
    }

/*-----------------card----------------------*/
.card-ios,.card-md{
  margin: 0px;
  width: 100%;
  margin-bottom: 8px;
 
}
/*-----------------取消滚动条--------------------*/
::-webkit-scrollbar {
  display: none !important;
}


/*-----------------固定页面底部的元素--------------------*/

.footer{
  width: 100%;
  margin: 0px;
  position: fixed;
  bottom: 0px;
  z-index: 100;
  background: white;
  box-shadow: 2px -1px 5px #E0e0e0;
}


/*-----------------须知开始--------------------*/
.xuzhi{
  h3{
    font-size: 1.6rem;
    color: #333;
    font-weight: bold;
    // margin: 10px 10px 10px 0px; 
    border-left:3px solid #4867f4;
    padding-left: 8px;

 }
 h5{
  font-size: 1.4rem;
  color: #4867F4;
  // font-weight: bold;
  margin: 10px 0px; 

  // margin-bottom: 50px;

 }
 p{
  color: #666;
  font-size: 1.3rem;
  line-height: 20px;
  i{
      font-style: normal;
      // font-size: 10rem
  }
  ion-icon{
      font-size: 1rem;
      color: #ccc;
  }
 }
 h5:first-child{
  margin-top:0px; 
 }
}
/*-----------------须知结束--------------------*/

/*-----------------男、女性别颜色--------------------*/
#nan{ 
  background: #9eb0ff;
}
#nv{
  background: #ffacd3;
}

/*-----------------男、女性别颜色结束--------------------*/



//
//
//
//-------------------------版块---------------------------------------------



/*-----------------动态版块开始--------------------*/

.dongtai{
  min-height:163px ;
  //height: 300px;
  max-height: 601px;
  position: relative;
  padding: 10px;
  padding-bottom: 0px;
  .dt1{
    width: 100%;
    height: 42px;
    //padding: 10px;
    img{
      width: 42px;
      height: 42px;
      border-radius: 3px;
      display: block;
      float: left;
      //padding-right: 10px;
      //padding-bottom: 10px;

    }
    h4{
      display: block;
      float: left;
      font-weight: bolder;
      font-size: 15px;
      padding-left: 10px;
      color: #333333;
    }
    button{
      float: right;
      background: none;
      //height: 10px;
      ion-icon{
        font-size:3rem;
        color: #999999;
        height: 10px;
      }
    }
    .btn-hh{
      padding: 0px;

    }
  }
  .dt2{

    width: 100%;
    min-height: 62px;
    max-height:476px ;
    margin-top: 10px;
    margin-bottom: 44px;
    p{
      font-size: 15px;
      color: #333333;
      margin: 0px;
    }
    span{
      font-size: 13px;
      color: #999999;
    }
    .span-hh{
      bottom: 0px;
      height: 20px;
      // margin-top:10px ;
      margin-bottom: 10px;
      line-height: 20px;
    }
  }
  .dt3{
    height: 44px;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: white;
    .two-button{
      border-top:#eeeeee 1px solid ;
      height: 100%;
      margin-left:10px ;
      margin-right:10px ;
    }

    button{
      background: none;
      color:#bbb ;
      font-size: 1.5rem;
      width: 49%;
      height: 44px;
      margin: 0px;
      display: block;
      float: left;

    }

  }

}
//头像选择弹窗
.headChoice{
  .action-sheet-group{
    background-color: #666666;
    width: 100%;
    .action-sheet-title{
      padding: 1rem;
      font-size: 1.8rem;
      color: #000;
      //background: #2cfe32;
    }
    .disable-hover{
      min-height: auto;
      font-size: 1.6rem;
      color: #000;
      background: #fff;
      position: relative;
      .button-inner{
        justify-content: flex-start;
        position: relative;
        .icon {
          position: absolute;
          right: 0;
          padding-right: 0;
        }
      }
    }
    .action-sheet-cancel{
      background: #fefef9;
      .button-inner{
        justify-content: center;
        font-weight: normal;
      }
    }
  }
}

/*-----------------checkbox按钮颜色改变--------------------*/
.checkbox-ios .checkbox-checked {
  border-color: #38C4F2;
  background-color: #38C4F2;
}
/*-----------------checkbox按钮颜色改变结束--------------------*/


// 
/*-----------------tabs按钮颜色改变--------------------*/


.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=true] {
  // color: -webkit-linear-gradient(top, #38c4f2 0%, #4867f4 100%);
  color:#4867f4;
  // 火狐内核适用


 // 谷歌内核适用
  // background: -webkit-linear-gradient(top, #38c4f2, #4867f4);     /* 背景色渐变 */
  // -webkit-background-clip: text;         /* 规定背景的划分区域 */
  // -webkit-text-fill-color: transparent;  /* 防止字体颜色覆盖 */

}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color: #4867f4;




  // background: -webkit-linear-gradient(top, #38c4f2, #4867f4);     /* 背景色渐变 */
  // -webkit-background-clip: text;         /* 规定背景的划分区域 */
  // -webkit-text-fill-color: transparent;  /* 防止字体颜色覆盖 */

}

/*-----------------tabs按钮颜色改变结束--------------------*/
/*-----------------tabs导航栏上面border--------------------*/

.tabs-ios .tabbar {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.3);
  background: #f8f8f8;
  -moz-box-shadow:2px -1px 5px #e0e0e0; 
  -webkit-box-shadow:2px -1px 5px #E0e0e0;
   box-shadow:2px -1px 5px #E0e0e0;
}

/*-----------------tabs导航栏上面border结束--------------------*/
//-----------------
/*-----------------动态版块结束--------------------*/
//-----------------
//-----------------------
/*------------------------------------组件开始------------------------------------*/
//***********
/*-----------------------popup 弹框----------------------------*/
//***********
.popover-md .popover-content{

  width:130px;
  top: 44px!important;
  border-radius: 3px 0px 3px 3px;
}
.popover-ios .popover-content,{
  border-radius: 3px;
  width:130px;
  right: 20px;

}
.popover-md .popover-content,.popover-ios .popover-content{
  box-shadow: 0px 2px 14px rgba(153,153,153,0.5);
  text-align: center;
  .list-md, .list-ios{
    margin: 0px;
    overflow: hidden;
    border-radius: 3px;
    // .item{
    //   padding-right: 16px;
    // }

  }
  .list-md .item-block .item-inner, .list-ios .item-block .item-inner{
    border-bottom: solid 1px #eeeeee ;
  }
  // .list-md .item-block .item-inner, .list-ios .item-block .item-inner{}

  // }

//***********
/*-----------------------search 搜索栏----------------------------*/
//***********
.toolbar .searchbar{
  float: left;
}
.toolbar .searchbar-ios{
  background-color: white;
  color: #999999;
}

.toolbar-ios-primary .searchbar-ios .searchbar-input{
  background-color: #f2f2f2;
  color: #333;

  -webkit-tap-highlight-color:#999;
}

/*------------------------------------组件结束------------------------------------*/
 
 
}