page-material {
    .material{
        ion-item{ 
            font-size: 1.5rem;
            color:#666;
            padding: 0px;
            ion-label{
                padding-left: 12px;
            }
            ion-note{
                font-size: 1.4rem;
                color:#333;
            }
        }
    }
  
}
